:root {
    --clr-primary: hsl(233, 16%, 89%);
    --clr-secondary: hsl(0, 4%, 15%);
    --clr-accent-alpha: hsl(195, 57%, 50%);
    --clr-accent-beta: hsl(35, 25%, 43%);

    --clr-icon: var(--clr-accent-alpha);

    --clr-bg: var(--clr-primary);
    --clr-body: var(--clr-secondary);
    --clr-heading: var(--clr-accent-alpha);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: minmax(17rem, 25rem) 1fr;
    font-family: sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-body);
}

h1.bg-text {
    position: absolute;
    top: -20px;
    font-size: 200px;
    font-weight: 900;
    white-space: nowrap;
    justify-self: center;
    line-height: .5;
    letter-spacing: 10px;
    color: var(--clr-heading);
    opacity: .1;
    z-index: -1;
}

.sidebar {
    min-height: 100svh;
    padding: 1rem;
}

.sidebar header {
    margin-bottom: 1rem;
}

.user {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: .5em;
    border-radius: 5px;
}

.user-picture {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--clr-accent-alpha);
    background-color: var(--clr-primary);
    border-radius: 50%;
}

.sidebar-icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--icon, currentColor);
}

.my-day-icon {
    --icon: hsl(38, 100%, 59%);
}

.important-icon {
    --icon: hsl(337, 100%, 65%);
}

.upcoming-icon {
    --icon: hsl(164, 100%, 44%);
}

.primary-nav li {
    --clr-hover: var(--hover, hsl(0, 100%, 50%));
}

.project-name {
    cursor: context-menu;
}

#my-day:hover {
    background-color: hsl(38, 100%, 59%, 0.4);
}

#important:hover {
    background-color: hsl(337, 100%, 65%, 0.4);
}

#upcoming:hover {
    background-color: hsl(164, 100%, 44%, 0.4);
}

.nav-list li {
    padding: .5rem .7rem;
    margin: 0 .3rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

.nav-list li input {
    width: 0;
    height: 0;
}

.group .head {
    display: grid;
    grid-template-columns: 2rem 1fr min-content;
    align-items: center;
}

.groups {
    display: grid;
    gap: 1rem;
}

.group .head {
    --icon: var(--clr-accent-alpha);
    cursor: context-menu;
    color: var(--clr-accent-beta);
    padding: .5rem 1rem;
}

.group .head:hover {
    background-color: hsl(195, 57%, 50%, 0.4);
}

.group-name {
    font-weight: 600;
}

.primary-nav,
.groups {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding: 0 0 1.5rem;
}

.projects-nav {
    font-size: .95rem;
}

.projects-nav li {
    --clr-first-hover: hsl(341, 100%, 48%, 0.4);
    --clr-second-hover: hsl(269, 100%, 50%, 0.4);

    margin: 0 .6rem;
    border-radius: 3px;
}

.projects-nav li .sidebar-icon {
    --icon: hsl(341, 100%, 48%);
}

.projects-nav li:hover {
    background-color: var(--clr-second-hover);
}

.projects-nav li:nth-child(2n + 1) .sidebar-icon {
    --icon: hsl(269, 100%, 50%);
}

.projects-nav li:nth-child(2n + 1):hover {
    background-color: var(--clr-first-hover);
}

.content {
    padding: 3rem;
    gap: 1rem;
}

.content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--clr-accent-alpha);
}

.task-list {
    display: grid;
    gap: .3rem;
}

.priority-1 {
    --priority: hsl(15, 92%, 49%, 0.7);
}
.priority-2 {
    --priority: hsl(281, 73%, 81%, 0.7);
}
.priority-3 {
    --priority: hsl(91, 73%, 81%, 0.7);
}
.priority-4 {
    --priority: hsl(185, 65%, 60%, 0.7);
}
.priority-5 {
    --priority: hsl(197, 95%, 84%, 0.7);
}

.task-list li {
    padding: 1rem .5rem;
    border-radius: 3px;
    background-color: var(--priority, hsl(43, 74%, 49%, 0.7));
}

form.new-task {
    display: flex;
    margin-top: 1rem;
}

form.new-task input{
    width: 100%;
    border: 0;
    background: none;
    border-bottom: 1px solid var(--clr-accent-alpha);
    order: 2;
}

form.new-task input:focus {
    outline: none;
}

.new-task-btn {
    border: 0;
    background: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: .5rem;
    color: var(--clr-accent-alpha);
    cursor: pointer;
}